#article-1{
    background-image: url("../img/blog-1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

#article-2{
    background-image: url("../img/blog-2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#blog-1{
    display: block;
    margin-bottom: 5px;
}

#logo{
    align-content: center;
    margin: 0;
    width: 150px;
    height: 100px;
}

#tim-1{
    width: 49%;
    height: 200px;
}

#tim-2{
    width: 49%;
    height: 200px;
}

#title{
    margin-bottom: 0;
}

#pharagraph{
    font-size: 12px;
}

#yellow-bg{
    background-color: yellow;
}

.addres{
    color: grey;
    font-style: normal;
    font-size: 12px;
}
.author{
    color: #0099ff;
}

.bg-color{
    background-color: #87e1f3;
}



.container{
    font-family: 'Times New Roman', Times, serif;
    max-width: 70%;
}
.caption{
    font-size: 10px;
}

.date{
    font-size: 10px;
}

.images{
    display: inline-block;
    margin: 0;
}

article{
    height: 200px;
    width: 300px;
}

article>h3{
    color: white;
    margin: 0px;
    padding: 5px;
}

body{
    height: auto;
    margin: auto;
    width: 700px;
}

figure.blog{
    margin-left: 0;
}

header{
    background-color:#0099ff;
    background-image: url('../img/header.png');
    background-position: center;
    background-size: 80% contain;
}

table{
    border-spacing: 0;
    width: 100%;
}

th{
    text-align: left;
}

thead{
    background-color: #47acef;
    color: white;
}

td.description{
    width: 50%;
}

section>h3{
    color: grey;
}


ul{
    padding-left: 10px;
}