#logo{
    align-content: center;
    margin: 0;
    width: 150px;
    height: 100px;
}

#title{
    margin-bottom: 0;
}

.addres{
    color: grey;
    font-style: normal;
    font-size: 12px;
}
.author{
    color: #0099ff;
}

.container{
    font-family: 'Times New Roman', Times, serif;
    max-width: 80%;
}

.date{
    font-size: 10px;
}

body{
    height: auto;
    margin: auto;
    width: 680px;
}

header{
    background-color:#0099ff;
    background-image: url('../img/header.png');
    background-position: center;
    background-size: 80% contain;
}